<%= form_with model: group do |form| %>

    <div class="form-container">
        <br>
        <br>
        <br>
        <%= form.text_field :name,placeholder: "Name", class: "input" %>
        <br>
        <br>
        <%= form.text_field :icon,placeholder: "Icon", class: "input" %>
        <br>
        <div class="create-group">
          <%= form.submit %>
        </div>
    </div>

<% end %>