<nav class="nav-bar">
  <%= link_to 'Back', groups_path, class:"back" %>
  <h1 class="color"> Create A New Category </h1>
  <%= button_to "Log out", destroy_user_session_path,  class:"save", method: :delete, class:'logout color' %>
</nav>

<%= render "form", group: @group %>

