<div class="container">
    <h1 class="budget-text">Budget App</h1>

  <div class="login-container color"> 
    <%= link_to "log in", new_user_session_path, class: "color" %>
  </div>
  <div class="signup-container color">
    <%= link_to "sign up", new_user_registration_path, class: "color" %>
  </div>

</div>