<div class="container">
    <h1 class="budget-text">Budget App</h1>

  <div class="login-container"> 
    <%= link_to "log in", new_user_session_path %>
  </div>
  <div class="signup-container">
    <%= link_to "sign up", new_user_registration_path %>
  </div>

</div>