body {
  margin: 0 0 0 0;
}

.categories-main-container {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: rgb(4, 96, 188);
}

.logout {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(255, 102, 0);
}

.category-container {
  background-color: rgb(237, 236, 236);
  margin-top: 40px;
}

.category {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;
}

.details-container {
  width: 100%;
  margin-left: 20px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.date {
  margin-top: -10px;
  font-size: small;
}

.img {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.login-container {
  width: 80%;
  height: 50px;
  margin-top: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(27, 77, 244);
}

.budget-text {
  margin-top: 50%;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
}

.reg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 20px;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-new-group {
  width: 100%;
  height: 40px;
  margin-top: 150%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.create-group {
  height: 50px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.transaction-container {
  margin-top: 40px;
}

.add-new-tran {
  width: 100%;
  height: 40px;
  margin-top: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.color {
  color: #fff;
}
